<div class="panel panel-primary">
        <div class="panel-heading">
          <h2>Lista de Pedidos</h2>
        </div><div class="pb-5">
        <div class="container">
          <div class="row" *ngFor="let pedido of pedidos">

            <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
            <div class="panel-heading">
                    <h5>Pedido no. {{pedido.id.counter}} - {{pedido.id.date}} - {{pedido.usuario.nome}}</h5>
                  </div>
              <!-- Shopping cart table -->
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" class="border-0 bg-light">
                        <div class="p-2 px-3 text-uppercase">Item</div>
                      </th>
                      <th scope="col" class="border-0 bg-light">
                        <div class="py-2 text-uppercase">Valor</div>
                      </th>
                      <th scope="col" class="border-0 bg-light">
                            <div class="py-2 text-uppercase">Quantidade</div>
                          </th>
                          <th scope="col" class="border-0 bg-light">
                                <div class="py-2 text-uppercase">Sub-total</div>
                              </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let itemCarrinho of pedido.items">
                      <th scope="row" class="border-0">
                        <div class="p-2">
                          <div class="ml-3 d-inline-block align-middle">
                            <h5 class="mb-0"> <a  [routerLink]="" (click)="itemDetails(itemCarrinho.item.id)" class="text-dark d-inline-block align-middle">{{itemCarrinho.item.nome}}</a></h5>
                          </div>
                        </div>
                      </th>
                      <td class="border-0 align-middle"><strong>{{itemCarrinho.item.valor}}</strong></td>
                      <td class="align-middle"><strong>{{itemCarrinho.quantidade}}</strong></td>
                      <td class="align-middle"><strong>{{itemCarrinho.item.valor * itemCarrinho.quantidade}}</strong></td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
              <!-- End -->
              <div class="row bg-white rounded shadow-sm">
                    <div class="col-lg-8">
                      <div class="p-4">
        
                        <ul class="list-unstyled mb-4">
                           <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total</strong>
                            <h5 class="font-weight-bold">${{pedido.total}}</h5>
                          </li>
                          </ul>
                      </div>
                    </div>
                  </div>
            </div>
            <hr/>
          </div>
    
          
    

        </div>
        
    </div>
    
    
    