<h3>Update Item</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nome</label>
      <input type="text" class="form-control" id="nome" required [(ngModel)]="item.nome" name="nome">
    </div>

    <div class="form-group">
      <label for="name">Valor</label>
      <input type="text" class="form-control" id="valor" required [(ngModel)]="item.valor" name="valor">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>