<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Item List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Valor</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items | async">
            <td>{{item.nome}}</td>
            <td>{{item.valor}}</td>
            <td><button (click)="deleteItem(item.id)" class="btn btn-danger">Delete</button>
                <button (click)="itemDetails(item.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
